body {
    main {
        width: 70%;
        margin: 1rem auto;
        padding: 1rem;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        .functions {
            display: flex;
            justify-content: right;


        }

        td {
            border: solid;
        }
    }
}