<body>
    <main>
        <div class="article">
            <h1>Slovenský Huculský Šampionát</h1>
            <p>
                Sme občianske združenie zastrešujúce a rozvíjajúce športové, chovateľské a vzdelávacie aktivity pre
                Huculského koňa.
                Organizácia jazdeckého športu je vždy komplexný jav, pretože okrem telovýchovného procesu
                a manažmentu športových podujatí zahŕňa aj chovateľské, šľachtiteľské a zootechnické aktivity.
                Esencia úspechu je fungujúca a harmonická spolupráca medzi kľúčovými hráčmi zo všetkých týchto
                sfér.
                Našim cieľom je vybudovať na Slovensku funkčný a kvalitný šport huculských koní, podporený
                vzdelávaním a službami nadväzujúcimi na chov koní. Organizácia podujatí Slovenského Huculského
                Šampionátu sú príležitosti naprieč celým jazdeckým spektrom:
            </p>
            <ul>
                <li>regenerácia dôležitá pre každú živú bytosť</li>
                <li>sebazdokonaľovanie v jazdectve</li>
                <li>šport na národnej a medzinárodnej úrovni</li>
                <li>vzdelávanie jazdcov, trénerov, chovateľov a príprava na licencie</li>
                <li>zahraničné jazdecké a trénerské stáže</li>
                <li>hipoterapia a hiporehabilitácia</li>
                <li>horsemanship</li>
            </ul>
        </div>

        <div class="article">
            <h1>Hucul</h1>
            <p>
                Huculský kôň je jedinečné plemeno koňa pôvodné pre náš geopriestor, neodmysliteľne spojené s
                tvorbou histórie strednej Európy a súčasťou nášho spoločného stredoeurópskeho kultúrneho
                dedičstva. Prvá zmienka o horských koňoch Karpát pochádza z roku 1606 zo spisu Hippika od
                Dorohostajského. Za Rakúsko-Uhorska sa pre svoju opatrnosť a obratnosť v teréne choval pre
                potreby armády ako nosič bremien. Huculský kôň vyniká najmä odolnosťou a silou: štandardná záťaž
                armádneho hucula bola 150 kg a nezriedka to bola munícia, či zranený vojak, s ktorým sa dokázal
                pohybovať v zákopoch, alebo v neprístupnom horskom teréne.
            </p>
        </div>

        <div class="article">
            <h1>Zaujimavosti</h1>
            <p>
                Búrlivé udalosti 20. storočia priniesli chovu tohto plemena búrlivé zvraty a niekoľko krát čelilo
                úplnému vyhynutiu. Najtragickejší vplyv mali obe svetové vojny, kedy po boku našich starých otcov
                zahynuli aj tisíce koní. Celé huculské línie boli navždy stratené a tie preživšie sa delili medzi
                víťazné
                strany v rámci reparácií, keďže kone boli vojenským materiálom. Zo snahy chovateľov vznikli nové,
                povojnové línie. Ďalšiu krízu priniesli perzekúcie 50tych rokov, najdrastickejších rokov
                komunistického režimu v Československu. Populizmus znamenal likvidáciu všetkého, čo by mohlo
                predstavovať symbol nobility a preto sa kone vybíjali na mäso.
                Našťastie mal huculský kôň vždy dosť priaznivcov a obdivovateľov bojujúcich za jeho záchranu. Vďaka
                ich odvahe, pracovitosti a odbornosti chovali huculského koňa s cieľom zachovať ho pre pás. My
                teraz prijímame naše role v tomto reťazci, aby sme ho zachovali pre našich pokračovateľov.
                Vytvárame mu miesto v modernom svete.
            </p>
        </div>
    </main>
</body>