<nav>
    <div class="header-container">
        <img src="../../assets/resources/logo.jpg" routerLink="home" alt="logo">
        <div class="login-container">
            <div *ngIf="loggedIn" class="login-container">
                <h3>{{username}}</h3>
                <button mat-button><mat-icon>account_circle</mat-icon></button>
            </div>
            <div *ngIf="userRole == 'Admin' || userRole == 'Arbiter'">
                <button class="button" routerLink='administration/riders/table'>Spravovať Web</button>
            </div>
            <div *ngIf="!loggedIn else elseBlock">
                <button class="button" routerLink="login">Prihlasiť sa</button>
            </div>

            <ng-template #elseBlock>
                <button class="button" (click)="onLogout()">Odhlásiť sa</button>
            </ng-template>
        </div>
    </div>
</nav>