<nav>
    <ul>
        <li><img src="../../assets/resources/three-running-horse-logo-design-Graphics-9710705-1-1-580x386.png"
                alt="logo"></li>
        <li><a routerLink="/home" routerLinkActive="active">Domov</a></li>
        <li><a routerLink="/aboutus" routerLinkActive="active">O nás</a></li>
        <li><a routerLink="/news" routerLinkActive="active">Novinky</a></li>
        <li><a routerLink="/xd" routerLinkActive="active">Kontakt</a></li>
        <div class="right">
            <li><a>Prihlasiť sa</a></li>
        </div>
    </ul>
</nav>