<!--
<div class="container" *ngFor="let img of images">
    <img class="img" [src]="img.url">
</div>
-->

<div class="control-panel">
    <a class="control-panel-item" routerLink="/gallery/sutaze" routerLinkActive="active-link">Súťaže</a>
    <a class="control-panel-item" routerLink="/gallery/treningy" routerLinkActive="active-link">Tréningy</a>
    <a class="control-panel-item" routerLink="/gallery/akcie" routerLinkActive="active-link">Akcie</a>
    <a class="control-panel-item" *ngIf="logged" (click)="openModalWindow()">Pridať fotku</a>
</div>

<div class="photo-gallery-wrapper">
    <div class="photo-gallery-item" *ngFor="let item of images" (contextmenu)="onRightClick($event, item)">
        <img [src]="item.url" alt="" (click)="openLightbox(item)">
    </div>
</div>

<div class="lightbox" *ngIf="lightboxOpen">
    <button class="close-btn" (click)="closeLightbox()">X</button>
    <button class="prev-btn" (click)="nextImage(-1)">‹</button>
    <img [src]="selectedImage?.url" alt="Current Image">
    <button class="next-btn" (click)="nextImage(+1)">›</button>
</div>

<div class="context-menu" *ngIf="contextMenuVisible" [style.top.px]="contextMenuPosition.y"
    [style.left.px]="contextMenuPosition.x">

    <p>Chcete Zmazať tento obrazok ?</p>

    <img [src]="contextMenuUrlToDelete" alt="">

    <button (click)="deletePhoto(contextMenuIndex)">Zmazať</button>
</div>