<div class="main-container">
    <div class="admin-top-nav">
        <li [routerLink]="['/administration/riders/table']" [routerLinkActive]="'active'"><a>Tabuľka</a></li>
        <li [routerLink]="['/administration/riders/new/table']" [routerLinkActive]="'active'"><a>Pridať jazdca</a></li>
        <li [routerLink]="['/administration/riders/merge/table']" [routerLinkActive]="'active'"><a>Pridať jazdcoví
                koňa</a></li>
        <li [routerLink]="['/administration/riders/remove/table']" [routerLinkActive]="'active'"><a>Odobrat jazdcoví
                koňa</a></li>
    </div>

</div>