<div class="container">
    <div class="admin-side-nav">
        <li routerLink="riders/table"><a>Jazdci</a></li>
        <li routerLink="rider/horses"><a>Kone</a></li>
        <li routerLink="rider/competitions"><a>Súťaže</a></li>
        <li routerLink="rider/arbiter"><a>Rozhodca</a></li>
        <li routerLink="rider/article"><a>Články</a></li>
        <li><a>Tréneri</a></li>

    </div>
    <div class="main-container">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>