@import "src/styles.scss";

body {
    main {
        text-align: center;

        h1{
            font-size: 2.4rem;
        }
        .notification {
            
            article{
                width: 60vw;
                margin: 30px auto 30px;
                background-color: $BG-PANEL;
                border: $BORDER_RADIUS;
                border-radius: 4px;
                display: flex;
                flex-direction: column;
                box-shadow: $BOX-SHADOW;
            }
            .article-header{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            .author{
                font-style: italic;
                margin: 0 15px 0;
                text-align: start;
            }
            .article-date, .name{
                margin: 15px;
            }
            .article-date{
                font-style: italic;
            }
            .context {
                
                margin: 0;
                align-self: center;
                border-top: $BORDER_RADIUS;
                background-color: $BG-CONTENT;
                padding: 20px;
            }
            @media screen and (max-width: 970px){
                .article-header{
                    flex-direction: column;
                }
                .author{
                    text-align: center;
                }
                .article-date{
                    scale: 80%;
                }
            }
        }
    }
}