.window {
  padding: 1rem;

  .buttons {
    display: flex;
    justify-content: center;

    button {
      width: 70px;
    }

    .btn-accept {
      background-color: #B75060;
    }

    .btn-cancel {}
  }

  p {
    text-align: center;
    max-width: 15vw;
    margin-left: 15px;
  }

  h2 {
    text-align: center;
  }
}