<app-admin-header></app-admin-header>
<div class="table">
    <p class="info">Prave sa zobrazuju všetky články</p>
    <!--<button (click)="sortByApproved()">Sort</button>-->

    <!--  <div class="article">
        <div class="section">
            <div class="article-head">
                <p>USER</p>
                <p>Date</p>
                <p><mat-icon>remove_circle_outline</mat-icon></p>
                <p><mat-icon>check_circle_outline</mat-icon></p>

            </div>
            <div class="article-context">
                <p>article name</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sed provident eius suscipit,
                    natus nihil consequatur harum obcaecati numquam enim et voluptate voluptates, debitis sapiente
                    atque veniam odio illum aut.
                </p>
            </div>
        </div>
        <div class="section">

            <div class="article-modify">
                <Button>APPROVE</Button>
                <Button>EDIT</Button>
                <Button>DELETE</Button>
            </div>
        </div>

    </div> -->
    <div class="article" *ngFor="let item of articleSliced">
        <div class="right">
            <div class="article-head">
                <p class="username">{{item.createdBy}}</p>
                <p class="date">{{item.date}}</p>
                <p><mat-icon [ngClass]="item.isApproved == true ? 'green':'red'">{{item.isApproved == true ?
                        "check_circle_outline":"remove_circle_outline" }}</mat-icon></p>
            </div>
            <div class="article-context">
                <p class="article-name">{{item.name}}</p> <!--El kiko-->
                <img *ngIf="item.photoForArticle" src={{item.photoForArticle}} alt="">
                <p class="context">{{item.content}}</p>
            </div>
        </div>
        <div class="left">

            <div class="article-modify">
                <Button *ngIf="!item.isApproved; else elseBlock" (click)="approveArticle(item)">Schvaliť</Button>
                <ng-template #elseBlock><Button (click)="dissApproveArticle(item)">Zrušiť</Button></ng-template>
                <Button>Upraviť</Button>
                <Button>Vymazať</Button>
            </div>
        </div>

    </div>
    <mat-paginator [length]="articles.length" [pageSize]="5" [hidePageSize]="true" (page)="onClickChangePage($event)"
        aria-label="Select page">
    </mat-paginator>
</div>