<div class="table">
    <div class="article">
        <div class="article-head">
            <p>USER</p>
            <p>Date</p>
        </div>
        <div class="article-context">
            <p>article name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sed provident eius suscipit,
                natus nihil consequatur harum obcaecati numquam enim et voluptate voluptates, debitis sapiente
                atque veniam odio illum aut.
            </p>
        </div>
        <div class="article-modify">
            <Button>ADD</Button>
            <Button>EDIT</Button>
            <Button>DELETE</Button>
        </div>

    </div>
    <div class="article">
        <div class="article-head">
            <p>USER</p>
            <p>Date</p>
        </div>
        <div class="article-context">
            <p>article name</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sed provident eius suscipit,
                natus nihil consequatur harum obcaecati numquam enim et voluptate voluptates, debitis sapiente
                atque veniam odio illum aut.
            </p>
        </div>
        <div class="article-modify">
            <Button>ADD</Button>
            <Button>EDIT</Button>
            <Button>DELETE</Button>
        </div>

    </div>
</div>