<div class="main-container">
    <div class="admin-top-nav">
        <li><a>Nový článok</a></li>
        <li><a>Články v čakani</a></li>
        <li><a>Schvalene članky</a></li>
        <li><a>Vyhľadať článok</a></li>
    </div>
</div>
<div class="table">
    <p class="info">Prave sa zobrazuju všetky články</p>
    <div class="article">
        <div class="section">
            <div class="article-head">
                <p>USER</p>
                <p>Date</p>
            </div>
            <div class="article-context">
                <p>article name</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sed provident eius suscipit,
                    natus nihil consequatur harum obcaecati numquam enim et voluptate voluptates, debitis sapiente
                    atque veniam odio illum aut.
                </p>
            </div>
        </div>
        <div class="section">

            <div class="article-modify">
                <Button>APPROVE</Button>
                <Button>EDIT</Button>
                <Button>DELETE</Button>
            </div>
        </div>

    </div>
    <div class="article" *ngFor="let item of articles">
        <div class="right">
            <div class="article-head">
                <p class="username">{{item.username}}</p>
                <p class="date">{{item.date}}</p>
            </div>
            <div class="article-context">
                <p class="article-name">{{item.articleName}}</p>
                <img *ngIf="item.photoForArticle" src={{item.photoForArticle}} alt="">
                <p class="context">{{item.articleContext}}</p>
            </div>
        </div>
        <div class="left">

            <div class="article-modify">
                <Button>APPROVE</Button>
                <Button>EDIT</Button>
                <Button>DELETE</Button>
            </div>
        </div>

    </div>
</div>