@import "src/styles.scss";
* {

    input,
    textarea {
        border-radius: 5px;
    }
}

.table {
    margin: 25px auto;
    max-width: 85%;
    max-height: 100%;

    button{
        margin: 15px auto 20px;
        min-width: 5vw;
        box-shadow: $BOX-SHADOW;
    }

    .new-article {
        height: 100%;
        margin: 70px auto 20px;
        border: $BORDER_RADIUS;
        border-radius: 5px;
        box-shadow: $BOX-SHADOW;
        background-color: $BG-PANEL;

        .article-section {
            height: 100%;
            display: grid;
            grid-template-areas:
                'article-header article-header'
                'article-image article-text-area'
                'article-footer article-footer';

            grid-template-columns: minmax(0%, 30%) minmax(20%, 70%);

            .article-head {
                display: flex;
                justify-content: center;
                padding: 25px;
                grid-area: article-header;
                color: black;
                font-size: 25px;

                h2 {
                    margin: 0 15px 0 0;
                    font-size: 1.8rem;
                }
            }



            .image-context {
                grid-area: article-image;
                margin: auto;
                width: 100%;
                height: 100%;



                .selected-image {
                    margin: auto;
                    height: 92%;
                    width: 90%;
                    border: 4px dotted #b75060;
                    transition: linear 0.2s;
                    cursor: pointer;

                    .file_upload {
                        max-width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        color: #b75060;

                        mat-icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 64px;
                            width: 64px;
                            font-size: 50px;
                        }

                        p {
                            font-size: 25px;
                        }
                    }
                }

                .selected-image:hover {
                    transform: scale(1.01);
                    background-color: rgba($color: #000000, $alpha: 0.1);
                }

                .selectFile {
                    display: none;
                    visibility: hidden;
                }


            }

            .context {
                grid-area: article-text-area;
                display: grid;
                grid-template-areas:
                    'article-name'
                    'article-context';

                gap: 15px;
                margin: 10px;
                color: #b75060;
                background-color: $BG-CONTENT;
                border: $BORDER_RADIUS;
                box-shadow: $BOX-SHADOW;
                border-radius: 4px;

                padding: 20px;
                font-size: 25px;
                font-weight: 500;

                input[type="text"] {
                    width: 50%;
                    height: 100%;
                }

                textarea {
                    resize: none;
                }
            }


            .article-footer {
                grid-area: article-footer;
                text-align: center;
            }
        }
    }
}