.navigation{
    background-color: #B75060;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    color: white;
    flex-wrap: wrap;
}
.dropdown-menu{
    background-color: #B75060;
}