<header>
    <a class="logo" routerLink="/home" routerLinkActive="active">Hucolský šampionat</a>
    <nav class="navbar">
        <ul>
            <li><a routerLink="/home" routerLinkActive="active">Domov</a></li>
            <li><a routerLink="/aboutus" routerLinkActive="active">O nás</a></li>
            <ul>
                <li><a routerLink="/aboutus" routerLinkActive="active">O nás#1</a></li>
                <li><a routerLink="/aboutus" routerLinkActive="active">O nás#1</a></li>
            </ul>
            <li><a routerLink="/news" routerLinkActive="active">Novinky</a></li>
            <li><a routerLink="/gallery" routerLinkActive="active">Galeria</a></li>
        </ul>
    </nav>
</header>