<app-admin-header-articles></app-admin-header-articles>
<div class="table">
    <form (ngSubmit)="onSubmit()">
        <div class="new-article">
            <div class="article-section">
                <div class="article-head">
                    <p>Práve pridavate nový článok...</p>
                    <!--<input type="checkbox"><span> Chcem prídať fotku</span>--->
                </div>


                <div class="image-context">
                    <!--Do tohoto nešupať, divko na vlakdanie obarzku-->
                    <label for="selectImage">
                        <div class="selected-image" for="selectImage">
                            <img src="" alt="">
                            <div class="file_upload">
                                <!--add_circle_outline-->
                                <mat-icon>insert_photo</mat-icon>
                                <!--Toto potom zmizne keď sa prida fotka :)-->
                                <p>Nahrajte fotku</p>
                            </div>
                        </div>
                    </label>
                    <!--Vďaka labelu nahore mam skrytý input, nešupať do toho-->
                    <input id="selectImage" class="selectFile" type="file" accept="image/*" (change)="showPreview()">

                </div>
                <div class="context">
                    <label for="input">Zadajte nazov článku:</label>
                    <input required type="text" [(ngModel)]='newArticle.name' name="name"
                        placeholder="Začnite pisať názov článku...">
                    <label for="textarea">Zadajte text:</label>
                    <textarea required [(ngModel)]="newArticle.content" [ngModelOptions]="{standalone: true}"
                        name="content" placeholder="Začnite pisať svoj článok..." name="" id="" cols=""
                        rows="10"></textarea>
                </div>


                <div class="article-footer">
                    <button type="submit">Uložiť</button>
                    <button>Zrušiť</button>
                </div>
            </div>
        </div>
    </form>
</div>