.mobile-warning {
  display: none;
  /* Skryté pre väčšie obrazovky */
  background-color: #ffcc00;
  /* Svetložltá farba pozadia pre upozornenie */
  color: #333;
  /* Tmavý text */
  padding: 0.75rem;
  border: 2px solid #ff9900;
  /* Oranžový okraj */
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 0.5rem 0.5rem;
}

/* Zobraziť varovanie len na obrazovkách menších ako 768px */
@media (hover : none) {
  .mobile-warning {
    display: block;
  }
}

.table {
  border: 1px solid #9d9d9d;
  border-radius: 4px;
  //min-height: 65vh;
}

.table-header {
  background-color: #cacaca;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: #9d9d9d 1px solid;

  p {
    margin: 6px;
  }
}

.table-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.table-control {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: min-content;
}

.table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #9d9d9d;
  border-radius: 4px;
  margin: 2px;

  p {
    font-size: 1rem;
  }
}

.table-column {
  width: 100%;
  text-align: center;
}