<app-admin-header-riders></app-admin-header-riders>

<div class="container-panel">
    <div class="table">
        <div class="table-header">
            <div class="table-data">
                <div class="table-column">
                    <h4>Číslo Jazdca</h4>
                </div>
                <div class="table-column">
                    <h4>Meno</h4>
                </div>
                <div class="table-column">
                    <h4>Priezvisko</h4>
                </div>
                <div class="table-column">
                    <h4>Dátum Narodenia</h4>
                </div>
                <div class="table-column">
                    <h4>Kategória</h4>
                </div>
                <div class="table-column">
                    <h4>Suťaž</h4>
                </div>
                <div class="table-column">
                    <h4>Kôň</h4>
                </div>
            </div>
            <div class="table-control">
                <div>
                    <p>Zmazať</p>
                </div>
                <div>
                    <p>Upraviť</p>
                </div>
            </div>
        </div>
        <div class="table-row" *ngFor="let rider of riders">
            <div class="table-data">
                <div class="table-column">
                    <h4>{{rider.riderNumber}}</h4>
                </div>
                <div class="table-column">
                    <p>{{rider.firstName}}</p>
                </div>
                <div class="table-column">
                    <p>{{rider.lastName}}</p>
                </div>
                <div class="table-column">
                    <p>{{rider.dateOfbirth}}</p>
                </div>

                <div class="table-column">
                    <p>{{rider.category}}</p>
                </div>
                <div class="table-column">
                    <p></p>
                </div>
                <div class="table-column">
                    <p *ngFor="let horse of rider.horses">{{horse.name}}</p>
                </div>
            </div>
            <div class="table-control">
                <div>
                    <button mat-button (click)="removeRider(rider)"><mat-icon>delete</mat-icon></button>
                </div>
                <div>
                    <button mat-button><mat-icon>settings</mat-icon></button>
                </div>
            </div>
        </div>
    </div>
</div>